<ion-header [translucent]="true" class="FondoCabeza">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: black;"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/Imagenes/LOGO GO CASTINGS NEGRO.png" alt="" class="imagen-cliente">
    <P slot="end" style="margin-right: 12px;">CLIENTE</P>
  </ion-toolbar>
</ion-header>

<ion-content class="Fondo-Body">
  <ion-list class="list-body">
    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <h4>INVITAR USUARIOS</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <br>
            <br>
            <br>
            <ion-icon name="list-outline" style="font-size: 120px;border-top: 150px;"></ion-icon>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-justify">
            <ion-button color="dark" size="full">Compartir</ion-button>
          </ion-col>

          <ion-col size="12" class="ion-text-justify">
            <br>
          </ion-col>

          <ion-col size="12" class="ion-text-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
          </ion-col>

          <ion-col size="12" class="ion-text-justify">
            <br>
          </ion-col>

          <ion-col size="12" class="ion-text-justify">
            <ion-input type="text" placeholder="Campo de compartir" class="Campo-compartir"></ion-input>
          </ion-col>

          <ion-col size="12" class="ion-text-justify">
            <ion-button color="dark" size="full">Copiar</ion-button>
          </ion-col>

          <ion-col size="12" class="ion-text-justify">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-icon name="logo-facebook" style="font-size: 40px;"></ion-icon>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-icon name="chatbubbles-outline" style="font-size: 40px;"></ion-icon>
                </ion-col>
                <ion-col class="ion-text-center"> 
                  <ion-icon name="logo-instagram" style="font-size: 40px;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>