<ion-header [translucent]="true" class="FondoCabeza">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: black;"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/Imagenes/LOGO GO CASTINGS NEGRO.png" alt="" class="imagen-cliente">
    <P slot="end" style="margin-right: 12px;">CLIENTE</P>
  </ion-toolbar>
</ion-header>

<ion-content class="Fondo-Body">
  <ion-list class="list-body">
    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <h4>EVENTOS</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <div class="month">
              <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>
                  August<br>
                  <span style="font-size:18px">2021</span>
                </li>
              </ul>
            </div>

            <ul class="weekdays">
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
              <li>Su</li>
            </ul>

            <ul class="days">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li><span class="active">10</span></li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card style="width: 100%;background-color: black;">
              <ion-item lines="none" class="item-body" style="width: 100%;">
                <p slot="start" style="color: white;">Evento 1</p>
                <ion-icon name="checkmark-done-circle-outline" style="color: white;" slot="end"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="width: 100%;background-color: black;">
              <ion-item lines="none" class="item-body" style="width: 100%;">
                <p slot="start" style="color: white;">Evento 2</p>
                <ion-icon name="checkmark-done-circle-outline" style="color: white;" slot="end"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="width: 100%;background-color: black;">
              <ion-item lines="none" class="item-body" style="width: 100%;">
                <p slot="start" style="color: white;">Evento 3</p>
                <ion-icon name="checkmark-done-circle-outline" style="color: white;" slot="end"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button color="dark" size="full">
              <ion-icon name="add-circle-outline"></ion-icon>&nbsp;&nbsp;Nuevo Evento 
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-footer>