.imagen-cliente{
    width: 80px;
    height: 60px;
    margin-left: 40%;
    margin-top: 7px;
  }
  
  .imagen-cliente-dash{
    box-shadow: -7px 5px 3px black;
  }

  .Fondo-Body{
    --background: url(../../assets/Imagenes/Background.png) 0 0/100% 100% no-repeat;
    
  }
  
  .item-body{
    --background: transparent;
  }
  
  .Option1{
    border-radius: 24px 24px 24px 24px;
    background-color:  #F5A840;
    height: 180px;
    width: 100%;
  }

  .Option2{
    border-radius: 24px 24px 24px 24px;
    background-color:  #A82740;
    height: 180px;
    width: 100%;
  }


  .Option3{
    border-radius: 24px 24px 24px 24px;
    background-color:  #E78C93;
    height: 180px;
    width: 100%;
  }

  .Option4{
    border-radius: 24px 24px 24px 24px;
    background-color:  #6F5549;
    height: 180px;
    width: 100%;
  }
  
  .Nombre-Usuario{
      color: white;
      margin-left: 15px;
      font-size: 20px;
    //   margin-top: 25px;
  }

  .link-favorito{
    color: white;
    margin-left: 15px;
    margin-top: 20px;
  }  

  .boton-detalle{
    margin-left: 30px;
    font-size: 10px;
    margin-bottom: 22px !important;
  }
  
  .list-body{
    background: transparent;
  }

  .ImagenModelo{
    width: 130px;
    height: 151px;
    margin-top: 24px !important;
    margin-left: 25px !important;
  }
  
  
  .month {
    padding: 70px 25px;
    width: 100%;
    background: #F5A840;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: black;
    color: white !important
  }
  
  /* Add media queries for smaller screens */
  @media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
  }
  
  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
  }
  ul {list-style-type: none;}