<ion-header [translucent]="true" class="FondoCabeza">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: black;"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/Imagenes/LOGO GO CASTINGS NEGRO.png" alt="" class="imagen-cliente">
    <P slot="end" style="margin-right: 12px;">CLIENTE</P>
  </ion-toolbar>
</ion-header>

<ion-content class="Fondo-Body">
  <ion-list class="list-body">
    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <h4>FAVORITAS</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none" class="item-body">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <br>
            <br>
            <br>
            <!-- <ion-icon name="checkmark-circle-outline"></ion-icon> -->
            <ion-icon name="checkmark-circle-outline" style="font-size: 120px;border-top: 150px;"></ion-icon>
            <p>No tiene favoritas Activas </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>