ion-header {
  &.header-md:after {
    background: transparent;
  }
}



.imagen-cliente{
  width: 100%;
  height: 100%;
 
}

.imagen-cliente-dash{
  box-shadow: -7px 5px 3px black;
}

.Option1{
  border-radius: 0px 55px 55px 0px;
  // background-color: red;
  // height: 150px;
  width: 100%;
}

.Fondo-Body{
  --background: url(../../assets/Imagenes/Background.png) 0 0/100% 100% no-repeat;
  
}

.item-body{
  --background: transparent;
}

.list-body{
  background: transparent;
}

.my-toolbar{
  --background: url(../../assets/Imagenes/INICIO .png) 0 0/100% 100% no-repeat ;
  height: 250px;
  width: 100%;
  margin: 2px;
}
